<article *ngIf="team" class="text--justified">
  <header><h2>Team detail</h2></header>
  <table>
    <tr>
      <td>Teams name:</td>
      <td>{{team.name}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Teams budget:</td>
      <td>{{team.budget}}</td>
      <td></td>
    </tr>
    <br>
    <tr>
      <td>Team Players:</td>
      <td><a [routerLink]="['/teams', team_uuid, 'player', 'new']">Add new player</a></td>
      <td></td>
    </tr>
    <tr *ngFor="let player of players?.players">
      <td>{{player.name}}</td>
      <td>
        <a [routerLink]="['/teams', team_uuid, 'player', player.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/teams', team_uuid, 'player', player.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(player)">Delete</button>
      </td>
    </tr>
  </table>
  <br>
</article>
